nav{
	background: #FFF;
}
nav .brand-logo img{
	padding: 15px;
}
nav ul a{
	color: #23b7d9;
}

section{
	width: 100%;
	min-height: 100%;
	padding: 50px 0;
	position: relative;
	background: #F6F6F6;
}

#push {
	width: 100%;
	min-height: 100%;
	padding: 50px 0;
	position: relative;
	z-index: -1;
}

#intro h1{
	text-align: center;
	color:white;
	margin-top: 150px;
	font-weight: 300;
}

#intro h2{
	font-size: 36px;
	font-weight: 200;
	color: #fff;
	text-align: center;
}
#intro .cta{
	text-align: center;
}
#intro .btn{
	background: #fff;
	color: #23b7d9;
}

#intro {
	position: fixed;
	top: 0;
	height: 100%;

	-webkit-transition: background-color 500ms ease-in;
	-moz-transition: background-color 500ms ease-in;
	-o-transition: background-color 500ms ease-in;
	-ms-transition: background-color 500ms ease-in;
	transition: background-color 500ms ease-in;
}

#intro.faded{
	background-color: #23b7d9;
}


#about h2{
	font-size: 36px;
	font-weight: 200;
	color: #00BCD4;
	margin: 0;
}
.card{
	padding: 20px;
	border-left: 3px solid #23b7d9;
}
.card h3 {
	color: #AAA;
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 20px;
}

.card p, 
.card cite{
	color: #888;
	font-size: 1em;
}